/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/candidates/*
/public/users/*
!/public/candidates/default.jpg
!/public/users/default.jpg
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
